body {
  background-color: #f8f8f8;
  margin: 0;
  font-family: "Roboto",
  "Helvetica",
  "Arial",
  sans-serif !important;
}
main {
  height: calc( 100vh - 64px);
  padding: 20px;
  box-sizing: border-box;
}
h1, h2 {
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
.wrapper {
  display: flex;
  height: 100%;
  padding-top: 4px;
  padding-bottom: 4px;
}
.wrapper ul {
  padding: 0 !important;
}
.page {
  max-width: 1440px;
  min-width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
}
.content {
  min-width: 445px;
  width: 600px;
  background-color: #e4ebf8;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.box {
  margin: 20px 0;
}

.profile-row {
  width: 370px;
  display: flex;
  justify-content: space-between;
}

.profile-row input {
  height: 20px;
  padding: 10px !important;
}

.header-dark {
  color: #fff !important;
  background-color: black !important;
}

.main-dark {
  color: #fff !important;
  background-color: rgb(153, 150, 150) !important;
}

.main-dark button {
  color: #fff !important;
  border-color: #fff !important;
  background-color: rgb(153, 150, 150) !important;
}

.main-dark input,
.main-dark fieldset {
  color: #fff !important;
  border-color: #fff !important;
}

.main-dark input::placeholder {
  color: #fff !important;
}

.main-dark li .chats-link {
  border-color: #fff !important;
}